header {
  height: 10vh;
  position: sticky;
  top: 0;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.menu {
  display: none;
}

.header-brand > a {
  font-family: "Marck Script", cursive;
  font-size: 2.5rem;
  color: var(--primary-color);
  font-weight: bold;
}

.container {
  height: 85vh;
}

/* sidebar */
.sidebar {
  overflow-y: scroll;
  font-size: 1.1rem;
}

.sidebar-item a {
  display: block;
}

.sidebar-item:hover {
  background-color: var(--secondary-color);
}

.list-no-bullet {
  list-style: none;
}

/* main */

main {
  overflow-y: scroll;
}

.examples {
  border: 1px solid var(--secondary-color);
  width: 43.75rem;
  height: auto;
  display: flex;
  flex-direction: column;
}

.examples-inline {
  border: 1px solid var(--secondary-color);
  width: 43.75rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.code-snippet {
  width: 43.75rem;
}

.code {
  color: var(--code-color);
  font-size: 0.9rem;
}

/* aside navigation */
.nav {
  color: var(--nav-color);
}

.nav:hover {
  color: var(--primary-color);
}

main::-webkit-scrollbar {
  width: 0.3em;
}

main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

main::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.close-sidebar {
  display: none;
}

@media screen and (max-width: 62.5em) {
  .page-navigation {
    display: none;
  }

  .display-none-sidebar {
    display: none;
  }

  .grid-1-3-1-col {
    grid-template-columns: 1fr;
  }

  .code-snippet,
  .examples-inline,
  .examples {
    width: 100%;
  }

  .menu {
    display: block;
  }

  .menu > i {
    font-size: 1.3rem;
  }

  .close-sidebar {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100vh;
    z-index: 2;
    background-color: #1a202ce6;
  }
}

@media screen and (max-width: 37.5em) {
  .sidebar {
    width: 60%;
  }
}
