header {
  position: sticky;
  top: 0;
  width: 100%;
}

main {
  font-family: "Roboto", sans-serif;
  height: 73vh;
}

footer {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.welcome-header > h2 {
  font-size: 3em;
}

.welcome-span {
  color: var(--primary-color);
}

.welcome-content {
  color: var(--secondary-text);
}

.header-brand > a {
  font-family: "Marck Script", cursive;
  font-size: 2.5rem;
  color: var(--primary-color);
  font-weight: bold;
}

.get-started {
  display: flex;
}

.footer-content {
  width: 50%;
  text-align: center;
}

i {
  color: var(--primary-color);
}

@media screen and (max-width: 37.5em) {
  main.grid-2-col {
    grid-template-columns: 1fr;
  }

  .get-started {
    flex-direction: column;
  }

  main {
    height: auto;
  }

  footer {
    height: auto;
  }
}
