:root{
    --primary-color: #49a0eb;
    --secondary-color: #35435f;
    --primary-bg: #1A202C; 
    --primary-text: #ffffffeb;
    --secondary-text: #A0AEC0;
    --success: #198754;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #0dcaf0;
    --success-text: #d1e7dd;
    --danger-text: #f8d7da;
    --warning-text: #fff3cd;
    --info-text: #cff4fc;
    --code-color: #3b82f6;
    --card-hover: #35435f9c;
    --gray-txt: gray;
}