:root {
  --primary-color: #49a0eb;
  --secondary-color: #35435f;
  --secondary-outline-color: #8a9bbe;
  --primary-bg: #1a202c;
  --primary-text: #ffffffeb;
  --secondary-text: #a0aec0;
  --success: #198754;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #0dcaf0;
  --success-text: #020303;
  --danger-text: #030000;
  --warning-text: #4d4a3e;
  --info-text: #31393b;
  --success-outline-text: #a5b6b6;
  --danger-outline-text: #ce9f9f;
  --warning-outline-text: #b8b093;
  --info-outline-text: #95b5be;
  --danger-err: #d7616d;
  --code-color: #3b82f6;
  --card-hover: #35435f9c;
  --gray-txt: gray;
  --nav-color: #a0aec0;
  --btn-secondary-text: #f7f4f4eb;
  --btn-primary-text: #000000eb;
  --modal-backdrop: #00000099;
}
