<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sanket Dhabarde" />

    <!-- fevicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="../../../Assets/Hallows_Sign.png"
    />

    <!-- stylesheets -->
    <link rel="stylesheet" href="../../always.css" />
    <link rel="stylesheet" href="../../documentation.css" />

    <!-- File specific style sheet -->
    <link rel="stylesheet" href="./button.css" />

    <title>Always | Button</title>
  </head>
  <body>
    <header class="p-3">
      <div class="header-brand">
        <a href="../../../index.html" class="btn-link">Always</a>
      </div>
    </header>
    <div class="container grid-1-3-1-col pt-1">
      <aside class="sidebar p-5">
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../../../Pages/documentation.html" class="btn-link"
            >Get Started</a
          >
        </li>
        <hr class="separator" />
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Avatar/avatar.html" class="btn-link">Avatar</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Alert/alert.html" class="btn-link">Alert</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Badge/badge.html" class="btn-link">Badge</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s active">
          <a href="./button.html" class="btn-link">Button</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Card/card.html" class="btn-link">Card</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Image/image.html" class="btn-link">Image</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Input/input.html" class="btn-link">Input</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Text/text.html" class="btn-link">Text Utilities</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../List/list.html" class="btn-link">Lists</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Rating/rating.html" class="btn-link">Ratings</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Grid/grid.html" class="btn-link">Grid</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Navigation/navigation.html" class="btn-link"
            >Navigation</a
          >
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Modal/modal.html" class="btn-link"
            >Modal</a
          >
        </li>
      </aside>
      <main class="p-3">
        <section id="top">
          <div class="header">
            <h1>Buttons</h1>
          </div>
        </section>
        <section class="mt-2" id="examples">
          <h3 class="my-2">Examples</h3>
          <div class="examples-inline p-1 m-1 center-div">
            <button class="btn btn-primary">Primary</button>
            <button class="btn btn-secondary">Secondary</button>
            <button class="btn btn-success">Success</button>
            <button class="btn btn-danger">Danger</button>
            <button class="btn btn-warning">Warning</button>
            <button class="btn btn-info">Info</button>
          </div>
        </section>
        <section class="mt-2 p-1 code-snippet">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2853%2C67%2C95%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2522%253ESecondary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-success%2522%253ESuccess%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-danger%2522%253EDanger%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-warning%2522%253EWarning%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-info%2522%253EInfo%253C%252Fbutton%253E%250A"
            style="
              width: 571px;
              height: 400px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </section>

        <section class="mt-2" id="outline">
          <h3 class="my-2">Outline Buttons</h3>
          <div class="examples-inline p-1 m-1 center-div">
            <button class="btn btn-outline-primary">Primary</button>
            <button class="btn btn-outline-secondary">Secondary</button>
            <button class="btn btn-outline-success">Success</button>
            <button class="btn btn-outline-danger">Danger</button>
            <button class="btn btn-outline-warning">Warning</button>
            <button class="btn btn-outline-info">Info</button>
          </div>
        </section>
        <section class="mt-2 p-1 code-snippet">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2853%2C67%2C95%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-outline-primary%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-outline-secondary%2522%253ESecondary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-outline-success%2522%253ESuccess%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-outline-danger%2522%253EDanger%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-outline-warning%2522%253EWarning%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-outline-info%2522%253EInfo%253C%252Fbutton%253E%250A"
            style="
              width: 639px;
              height: 400px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </section>

        <section class="mt-2" id="extra">
          <h3 class="my-2">Extra Buttons</h3>
          <div class="examples-inline p-1 m-1 center-div">
            <a href="#" class="btn btn-link">Link</a>
            <a href="#" class="btn-link">
              <i class="fas fa-cart-arrow-down btn btn-icon"></i>
            </a>
            <a href="#top" class="btn-float center-div">
              <i class="fas fa-arrow-up"></i>
            </a>
          </div>
        </section>
        <section class="mt-2 p-1 code-snippet">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2853%2C67%2C95%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Ca%2520href%253D%2522%2523%2522%2520class%253D%2522btn%2520btn-link%2522%253ELink%253C%252Fa%253E%250A%253Ca%2520href%253D%2522%2523%2522%2520class%253D%2522btn-link%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-cart-arrow-down%2520btn%2520btn-icon%2522%253E%253C%252Fi%253E%250A%253C%252Fa%253E%250A%253Ca%2520href%253D%2522%2523top%2522%2520class%253D%2522btn-float%2520center-div%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-arrow-up%2522%253E%253C%252Fi%253E%250A%253C%252Fa%253E"
            style="
              width: 100%;
              height: 300px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </section>
      </main>
      <aside class="p-3">
        <section>
          <h4 class="py-1">ON THIS PAGE</h4>
          <hr class="separator" />
          <ul class="list-group">
            <li class="list-no-bullet p-1 nav">
              <a href="#examples" class="btn-link">Examples</a>
            </li>
            <li class="list-no-bullet p-1 nav">
              <a href="#outline" class="btn-link">Outline Buttons</a>
            </li>
            <li class="list-no-bullet p-1 nav">
              <a href="#extra" class="btn-link">Extra Buttons</a>
            </li>
          </ul>
        </section>
      </aside>
    </div>
  </body>
</html>
