.btn {
  padding: 0.8em 1.6em;
  margin: 1em;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.btn-link {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.btn-success {
  background-color: var(--success);
}

.btn-danger {
  background-color: var(--danger);
}

.btn-warning {
  color: #000;
  background-color: var(--warning);
}

.btn-info {
  color: #000;
  background-color: var(--info);
}

.btn-outline-primary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-outline-secondary {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.btn-outline-success {
  color: var(--success);
  border: 1px solid var(--success);
}

.btn-outline-danger {
  color: var(--danger);
  border: 1px solid var(--danger);
}

.btn-outline-warning {
  color: var(--warning);
  border: 1px solid var(--warning);
}

.btn-outline-info {
  color: var(--info);
  border: 1px solid var(--info);
}

.btn-outline-secondary:hover {
  border: 1px solid var(--secondary-color);
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-success:hover,
.btn-danger:hover,
.btn-info:hover,
.btn-warning:hover {
  opacity: 0.8;
}

.btn-outline-primary:hover,
.btn-outline-secondary:hover,
.btn-outline-success:hover,
.btn-outline-danger:hover,
.btn-outline-info:hover,
.btn-outline-warning:hover {
  opacity: 0.9;
}