.btn {
  padding: 0.8em 1.6em;
  margin: 1em;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.btn-link {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-primary {
  color: var(--btn-primary-text);
  background-color: var(--primary-color);
}

.btn-secondary {
  color: var(--btn-secondary-text);
  background-color: var(--secondary-color);
}

.btn-success {
  background-color: var(--success);
}

.btn-danger {
  background-color: var(--danger);
}

.btn-warning {
  color: var(--secondary-color);
  background-color: var(--warning);
}

.btn-info {
  color: var(--secondary-color);
  background-color: var(--info);
}

/* outline button */

.btn-outline-primary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background: transparent;
}

.btn-outline-secondary {
  color: var(--secondary-outline-color);
  border: 1px solid var(--secondary-color);
  background: transparent;
}

.btn-outline-success {
  color: var(--success-outline-text);
  border: 1px solid var(--success);
  background: transparent;
}

.btn-outline-danger {
  color: var(--danger-outline-text);
  border: 1px solid var(--danger);
  background: transparent;
}

.btn-outline-warning {
  color: var(--warning-outline-text);
  border: 1px solid var(--warning);
  background: transparent;
}

.btn-outline-info {
  color: var(--info-outline-text);
  border: 1px solid var(--info);
  background: transparent;
}

.btn-outline-secondary:hover {
  border: 1px solid var(--secondary-color);
}

.examples-inline {
  position: relative;
}

.btn-float {
  color: var(--btn-primary-text);
  background-color: var(--primary-color);
  text-decoration: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  bottom: 10%;
  right: 2%;
}

/* button hover */

.btn:hover {
  opacity: 0.8;
}
