<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sanket Dhabarde" />

    <!-- fevicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="../../../Assets/Hallows_Sign.png"
    />

    <!-- stylesheets -->
    <link rel="stylesheet" href="../../always.css" />
    <link rel="stylesheet" href="../../documentation.css" />

    <!-- File specific style sheet -->
    <link rel="stylesheet" href="./toast.css" />

    <title>Always | Toasts</title>
  </head>

  <body>
    <header class="p-3">
      <div class="header-brand">
        <a href="../../../index.html" class="btn-link">Always</a>
      </div>
    </header>
    <div class="container grid-1-3-1-col pt-1">
      <aside class="sidebar p-5">
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../../../Pages/documentation.html" class="btn-link"
            >Get Started</a
          >
        </li>
        <hr class="separator" />
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Avatar/avatar.html" class="btn-link">Avatar</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="./alert.html" class="btn-link">Alert</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Badge/badge.html" class="btn-link">Badge</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Button/button.html" class="btn-link">Button</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Card/card.html" class="btn-link">Card</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Image/image.html" class="btn-link">Image</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Input/input.html" class="btn-link">Input</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Text/text.html" class="btn-link">Text Utilities</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../List/list.html" class="btn-link">Lists</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Rating/rating.html" class="btn-link">Ratings</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Grid/grid.html" class="btn-link">Grid</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Navigation/navigation.html" class="btn-link"
            >Navigation</a
          >
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Modal/modal.html" class="btn-link">Modal</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s active">
          <a href="../Toast/toast.html" class="btn-link">Toasts</a>
        </li>
      </aside>
      <main class="p-3">
        <section>
          <div class="header">
            <h1>Toast</h1>
          </div>
        </section>
        <!-- Normal Modal -->
        <section class="mt-2" id="normal">
          <h3 class="my-2">Normal Toasts</h3>
          <div class="examples p-1 m-1 center-div">
            <div class="toast-static p-1">
              <div class="toast-message px-1">
                <p>Can't send photo. Retry in 5 seconds</p>
                <span class="toast-close">
                  <i class="fas fa-times"></i>
                </span>
              </div>
            </div>
          </div>
        </section>
        <section class="mt-2 p-1 code-snippet">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2853%2C67%2C95%2C1%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522toast%2520p-1%2522%253E%250A%2520%2520%253Cdiv%2520class%253D%2522toast-message%2520px-1%2522%253E%250A%2520%2520%2520%2520%253Cp%253ECan%27t%2520send%2520photo.%2520Retry%2520in%25205%2520seconds%253C%252Fp%253E%250A%2520%2520%2520%2520%253Cspan%2520id%253D%2522toast-close%2522%253E%250A%2520%2520%2520%2520%2520%2520%253Ci%2520class%253D%2522fas%2520fa-times%2522%253E%253C%252Fi%253E%250A%2520%2520%2520%2520%253C%252Fspan%253E%250A%2520%2520%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
            style="
              width: 100%;
              height: 319px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </section>
        <!-- toast demo -->
        <section class="mt-2" id="demo">
          <h3 class="my-2">Toast demo</h3>
          <div class="examples p-1 m-1 center-div">
            <button class="btn btn-primary" id="open-toast">Live toast</button>
            <div class="toast toast-live display-none p-1">
              <div class="toast-message px-1">
                <p>Can't send photo. Retry in 5 seconds</p>
                <span id="toast-close">
                  <i class="fas fa-times"></i>
                </span>
              </div>
            </div>
          </div>
        </section>
        <section class="mt-2 p-1 code-snippet">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2853%2C67%2C95%2C1%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%252F%252F%2520toast%2520js%250Aconst%2520toast%2520%253D%2520document.querySelector%28%2522.toast-live%2522%29%253B%250Aconst%2520closeToast%2520%253D%2520document.querySelector%28%2522%2523toast-close%2522%29%253B%250Aconst%2520openToast%2520%253D%2520document.querySelector%28%2522%2523open-toast%2522%29%253B%250A%250AopenToast.addEventListener%28%2522click%2522%252C%2520%28%29%2520%253D%253E%2520%257B%250A%2520%2520toast.classList.remove%28%2522display-none%2522%29%253B%250A%257D%29%253B%250A%250AcloseToast.addEventListener%28%2522click%2522%252C%2520%28%29%2520%253D%253E%2520%257B%250A%2520%2520toast.classList.add%28%2522display-none%2522%29%253B%250A%257D%29%253B"
            style="
              width: 100%;
              height: 394px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </section>
      </main>
      <aside class="p-3">
        <section>
          <h4 class="py-1">ON THIS PAGE</h4>
          <hr class="separator" />
          <ul class="list-group">
            <li class="list-no-bullet p-1 nav">
              <a href="#normal" class="btn-link">Normal Modal</a>
            </li>
            <li class="list-no-bullet p-1 nav">
              <a href="#demo" class="btn-link">Toast Demo</a>
            </li>
          </ul>
        </section>
      </aside>
    </div>
  </body>
  <script src="./toast.js"></script>
</html>
