<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sanket Dhabarde" />

    <!-- fevicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="../../../Assets/Hallows_Sign.png"
    />

    <!-- stylesheets -->
    <link rel="stylesheet" href="../../always.css" />
    <link rel="stylesheet" href="../../documentation.css" />

    <!-- File specific style sheet -->
    <link rel="stylesheet" href="./text.css" />

    <title>Always | Text Utilities</title>
  </head>

  <body>
    <header class="p-3">
      <div class="header-brand">
        <a href="../../../index.html" class="btn-link">Always</a>
      </div>
    </header>
    <div class="container grid-1-3-1-col pt-1">
      <aside class="sidebar p-5">
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../../../Pages/documentation.html" class="btn-link"
            >Get Started</a
          >
        </li>
        <hr class="separator" />
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Avatar/avatar.html" class="btn-link">Avatar</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="./alert.html" class="btn-link">Alert</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Badge/badge.html" class="btn-link">Badge</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Button/button.html" class="btn-link">Button</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Card/card.html" class="btn-link">Card</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Image/image.html" class="btn-link">Image</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Input/input.html" class="btn-link">Input</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s active">
          <a href="../Text/text.html" class="btn-link">Text Utilities</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../List/list.html" class="btn-link">Lists</a>
        </li>
        <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
          <a href="../Grid/grid.html" class="btn-link">Grid</a>
        </li>
      </aside>
      <main class="p-3">
        <section>
          <div class="header">
            <h1>Text Utilities</h1>
          </div>
        </section>
        <!-- Headings -->
        <section class="mt-2" id="heading">
          <h3 class="my-2">Headings</h3>
          <div class="examples p-1 m-1 center-div">
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 5</h5>
          </div>
        </section>
        <section class="mt-2 p-1 code-snippet">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2853%2C67%2C95%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Ch1%253EHeading%25201%253C%252Fh1%253E%250A%253Ch2%253EHeading%25202%253C%252Fh2%253E%250A%253Ch3%253EHeading%25203%253C%252Fh3%253E%250A%253Ch4%253EHeading%25204%253C%252Fh4%253E%250A%253Ch5%253EHeading%25205%253C%252Fh5%253E"
            style="
              width: 100%;
              height: 263px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </section>
        <!-- Text -->
        <section class="mt-2" id="text">
          <h3 class="my-2">Text</h3>
          <div class="p-1">
            <p class="py-1">
              Text available in 5 sizes : <code class="code">xl</code>,
              <code class="code">l</code>, <code class="code">m</code>,
              <code class="code">s</code>, <code class="code">xs</code>
            </p>
            and
            <p class="py-1">
              Some small varients such as <code class="code">.text-gray</code>,
              <code class="code">.text-center</code>
            </p>
          </div>
          <div class="examples p-1 m-1 center-div">
            <p class="text-xl">Text extra large</p>
            <p class="text-l">Text large</p>
            <p class="text-m">Text medium</p>
            <p class="text-s">Text small</p>
            <p class="text-xs">Text extra small</p>
            <p class="text-gray">Gray text</p>
            <p class="text-center">Center text</p>
          </div>
        </section>
        <section class="mt-2 p-1 code-snippet">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2853%2C67%2C95%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text-xl%2522%253EText%2520extra%2520large%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-l%2522%253EText%2520large%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-m%2522%253EText%2520medium%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-s%2522%253EText%2520small%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-xs%2522%253EText%2520extra%2520small%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-gray%2522%253EGray%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-center%2522%253ECenter%2520text%253C%252Fp%253E"
            style="
              width: 100%;
              height: 300px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </section>

        <!-- Font weights -->
        <section class="mt-2" id="weights">
          <h3 class="my-2">Font weights</h3>
          <div class="p-1">
            <p class="py-1">
              Font weights available in 6 varients :
              <code class="code">light</code>,
              <code class="code">regular</code>,
              <code class="code">semibold</code>,
              <code class="code">bold</code>, <code class="code">Black</code>
            </p>
          </div>
          <div class="examples p-1 m-1 center-div">
            <p class="font-weight-light">Light</p>
            <p class="font-weight-regular">Regular</p>
            <p class="font-weight-semibold">Semibold</p>
            <p class="font-weight-bold">Bold</p>
            <p class="font-weight-black">Black</p>
          </div>
        </section>
        <section class="mt-2 p-1 code-snippet">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2853%2C67%2C95%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522font-weight-light%2522%253ELight%253C%252Fp%253E%250A%253Cp%2520class%253D%2522font-weight-regular%2522%253ERegular%253C%252Fp%253E%250A%253Cp%2520class%253D%2522font-weight-semibold%2522%253ESemibold%253C%252Fp%253E%250A%253Cp%2520class%253D%2522font-weight-bold%2522%253EBold%253C%252Fp%253E%250A%253Cp%2520class%253D%2522font-weight-black%2522%253EBlack%253C%252Fp%253E"
            style="
              width: 100%;
              height: 263px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </section>
      </main>
      <aside class="p-3">
        <section>
          <h4 class="py-1">ON THIS PAGE</h4>
          <hr class="separator" />
          <ul class="list-group">
            <li class="list-no-bullet p-1 nav">
              <a href="#heading" class="btn-link">Headings</a>
            </li>
            <li class="list-no-bullet p-1 nav">
              <a href="#text" class="btn-link">Texts</a>
            </li>
            <li class="list-no-bullet p-1 nav">
              <a href="#weights" class="btn-link">Font weights</a>
            </li>
          </ul>
        </section>
      </aside>
    </div>
  </body>
</html>
