<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sanket Dhabarde" />

    <!-- stylesheets -->
    <link rel="stylesheet" href="../../always.css">
    <link rel="stylesheet" href="../../documentation.css">

    <!-- file specific style -->
    <link rel="stylesheet" href="./image.css">

    <title>Always | Image</title>
</head>

<body>
    <header class="p-3">
        <div class="header-brand">
            <a href="../../../index.html" class="btn-link">Always</a>
        </div>
    </header>
    <div class="container grid-1-3-1-col pt-1">
        <aside class="sidebar p-5">
            <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
                <a href="../../../Pages/documentation.html" class="btn-link">Get Started</a>
            </li>
            <hr class="separator">
            <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
                <a href="../Avatar/avatar.html" class="btn-link">Avatar</a>
            </li>
            <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
                <a href="../Alert/alert.html" class="btn-link">Alert</a>
            </li>
            <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
                <a href="../Badge/badge.html" class="btn-link">Badge</a>
            </li>
            <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
                <a href="../Button/button.html" class="btn-link">Button</a>
            </li>
            <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
                <a href="../Card/card.html" class="btn-link">Card</a>
            </li>
            <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
                <a href="./image.html" class="btn-link">Image</a>
            </li>
            <li class="list-no-bullet p-1 sidebar-item mb-3 border-s">
                <a href="../Input/input.html" class="btn-link">Input</a>
            </li>
        </aside>
        <main class="p-3">
            <section>
                <div class="header">
                    <h1>Images</h1>
                </div>
            </section>
            <section class="mt-2">
                <h3 class="my-2">Responsive Image</h3>
                <div class="examples-inline p-1 m-1 center-div">
                    <div>
                        <img src="https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bmF0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            class="img-responsive" alt="responsive image">
                    </div>
                </div>
            </section>
            <section class="mt-2 p-1 code-snippet">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%2853%2C67%2C95%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522...%2522%2520class%253D%2522img-responsive%2522%2520alt%253D%2522responsive%2520image%2522%253E%250A"
                    style="width: 100%; height: 206px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </section>

            <!-- round image -->
            <section class="mt-2">
                <h3 class="my-2">Round Image</h3>
                <div class="examples-inline p-1 m-1 center-div">
                    <div class="img-container">
                        <img src="https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bmF0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                            class="img img-round" alt="round image">
                    </div>
                </div>
            </section>
            <section class="mt-2 p-1 code-snippet">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%2853%2C67%2C95%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522...%2522%2520class%253D%2522img%2520img-round%2522%2520alt%253D%2522round%2520image%2522%253E%250A"
                    style="width: 100%; height: 206px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </section>
        </main>
        <aside>

        </aside>
    </div>
</body>

</html>